.drop-nav {
  @include content-wrap;
  position: fixed;
  top: 3.381em;
  width: 100%;
  padding-top: 0.82em;
  padding-bottom: 0.82em;
  background-color: $secondary-light;
  @include z-index(drop-nav);

  &__active {
    > i {
      margin-right: 0.432em;
    }
  }

  @include break(lg) {
    display: none;
  }
}
