.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0.693333em 0;
  margin: 0 auto;
  background-color: $secondary-dark;
  color: $primary-light;
  @include z-index(header);

  &__brand {
    position: relative;
    align-self: center;
    font-size: 1.428em;
    margin-right: auto;
    text-shadow: $primary-dark 1px 0 10px;

    > i {
      position: absolute;
      top: -0.25em;
      left: -0.25em;
      font-size: 1.67em;
      color: $gray-dark-2;
      text-shadow: initial;
      z-index: -1;
    }
  }
}
